.addPage{
    background-color: #f3e8ff;
    color: #2d334a;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .title{
        font-size: 50px;
        margin-top: 20px;
        color: #6c63ff;
        margin: 30px;
    }
    
    #firstName, #lastName, #phone, #email,
    #avatar, #gender, #status{
        border-radius: 10px;
        border: 2px solid #cdb4db;
        background-color: #fff;
        padding: 5px;
        padding-right: 50px;
    }

    #firstName:focus,
    #lastName:focus,
    #phone:focus,
    #email:focus,
    #avatar:focus,
    #gender:focus,
    #status:focus {
        border-color: #ffc8dd;
        outline: none;
        box-shadow: 0 0 8px rgba(255, 200, 221, 0.5);
    }

    .error-wrapper {
        min-height: 25px;
        
    }

    .error {
        font-size: 14px;
        font-style: italic;
        color: #b5179e;
        animation: slideDownFadeIn 0.7s ease forwards ;
    }


    @keyframes slideDownFadeIn {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    label{
        display: block;
    }
}