@font-face {
  font-family: Caveat-VariableFont;
  src: url(./font/Caveat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Tagesschrift-Regular;
  src: url(./font/Tagesschrift-Regular.ttf);
}

.containerHeader{
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-menu {
  font-family: Tagesschrift-Regular;
  position: relative;
  padding-bottom: 6px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc8dd;
    transition: width 0.5s ease;
  }

  &:hover::after,
  &.active::after {
    width: 100%;
  }

  &.active {
    color: #ffc8dd;
  }
}

.form-control{
    border-radius: 10px;
    border: 2px solid #cdb4db;
    background-color: #fff;
    padding: 5px;
    padding-right: 50px;
    font-family: Tagesschrift-Regular;
}

.form-control:focus {
    border-color: #ffc8dd;
    outline: none;
    box-shadow: 0 0 8px rgba(255, 200, 221, 0.5);
}