.searchBtn{
    display: inline-block;
    margin-right: 15px;
    padding: 8px 20px;
    background-color: #6c63ff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(108, 99, 255, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;

     &:hover {
        background-color: #8477ff;
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(108, 99, 255, 0.4);
    }   
}

.form-control{
    border-radius: 10px;
    border: 2px solid #cdb4db;
    background-color: #fff;
    padding: 5px;
    padding-right: 50px;
}

.form-control:focus {
    border-color: #ffc8dd;
    outline: none;
    box-shadow: 0 0 8px rgba(255, 200, 221, 0.5);
}