@font-face {
  font-family: Caveat-VariableFont;
  src: url(./font/Caveat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Tagesschrift-Regular;
  src: url(./font/Tagesschrift-Regular.ttf);
}

.container {
  padding: 20px;
  background-color: #f3e8ff;
  color: #2d334a;
  position: sticky;
  top: 96px;

  .contacts-labels {
    .allContact {
      font-size: 28px;
      font-weight: bold;
      color: #6c63ff; 
      margin-bottom: 40px;
      font-family: Tagesschrift-Regular;
      cursor: pointer;
    }

    .list {
      .listItem {
        padding: 5px 20px;
        border-radius: 12px;
        border: 2px solid #cdb4db;
        color: #2d334a;
        font-weight: 500;
        margin-bottom: 15px;
        transition: transform 1s ease, box-shadow 0.3s ease;
        font-family: Caveat-VariableFont;

        &.active {
            transform: scale(1.08);
            border: 3px solid #ffc8dd;  
          }

        &:hover {
          transform: scale(1.08);
          border: 3px solid #ffc8dd;
          cursor: pointer;
        }

        .statusWord {
          font-size: 22px;
          text-transform: uppercase;
        }

        span {
          font-weight: bold;
          color: #b5179e;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {  
  .container {
    margin-bottom: 20px;
    
    .list{
      margin-top: -20px;
    }
  }
}